!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %title animatio - jQuery CSS3 Animation Plugin
    %link{:href => "http://fonts.googleapis.com/css?family=Arvo:400,700", :rel => "stylesheet"}
    %link{:href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", :rel => "stylesheet"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

  %body
    =yield

    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.js"}
    %script{:type => "text/javascript", :src => "http://octophile.com/widgets.js"}
    = javascript_include_tag "application"

    #fb-root
    :javascript

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39797343-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
